#root {
  text-align: center;
}

.dark-theme {
  background-color: #303030;
  color: white;
  min-height: 100vh;
}

/* .dark-theme button {
  background-color: lightblue;
} */

.light-theme {
  background-color: whitesmoke;
  color: black;
  min-height: 100vh;
}

/* .light-theme button {
  background-color: blue;
} */